

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    height:100%;
    scroll-behavior: smooth;
}
.header{
    display:flex;
    height:10vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    min-height: 25px;
    position:fixed;
    top:0;
    z-index: 100;
}
.Logo{
    height: 90%;
    margin-top: 0.2%;
    position: relative;
    left:2%;
    flex-shrink: 0.25;
}
.Logo:hover{
    cursor:pointer;
}
.Logo-img{
    height:100%;
}
.header-links{
    height: 100%;
    width:25%;
    min-width:100px;
    position: relative;
    right:2%
}
.header-links-ele{
    height: 100%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    display:inline-block;
    padding: 8%;
    padding-top: 8%;
    position: relative;
}

#resc ul{
    display: none;
}

#resc:hover ul{
    display: block;
    position: absolute;
    list-style-type: none;
    top:100%;
    left: 0;
    z-index: 1000;
    background-color: #1F2937;
    color: white;
    text-align: center;
}
#resc li{
    padding: 1vw;
}

#resc li:hover{
    border-bottom: 1px solid white;
}

.header-links-ele:hover{
    border-bottom: 2px solid white;
    cursor:pointer;
}
.sidebar{
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #050b26;
  padding: 10px;
  overflow-y: auto;
}
.sidebar a{
  display: block;
  color: white;
  background-color: #0e1636;
  padding: 10px 12px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease,transform 0.3s ease;
  text-decoration: none;
  margin-bottom: 10px;
}
.sidebar a:hover{
  background-color: #007acc;
  transform: scale(1.1);
}
#subject{
    color: white;
    background-color: #151f8c;
  text-align: center;
  margin-bottom: 20px;
  margin: 0px;
}
.unit {
  scroll-margin-top: 10vh;
    border: solid;
    border-color: #3052b0;
  padding: 20px;
  border-width: 2px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-left: 6px solid #3052b0;
}

.unit h2 {
  color: #3052b0;
  margin-bottom: 0px;
}

.unit p {
    margin-top: 0px;
  margin-bottom: 20px;
}

.lecture-list {
  list-style: none;
  padding-left: 0px;
}

.lecture-list li {
  margin-bottom: 10px;
}
.lecture-list a {
  text-decoration: none;
    color: #444;
  padding: 10px;
  display: block;
  background-color: #b9cbd8;
  border-radius: 8px;
}
.lecture-list a:hover {
  background-color: #9cb6cd;
}   
main{
  margin-top: 10vh;
  margin-left: 300px;
}