

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    height:100%;
}
.header{
    display:flex;
    height:10vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    min-height: 25px;
    position:sticky;
    top:0;
    z-index: 100;
}
.Logo{
    height: 90%;
    margin-top: 0.2%;
    position: relative;
    left:2%;
    flex-shrink: 0.25;
}
.Logo:hover{
    cursor:pointer;
}
.Logo-img{
    height:100%;
}
.header-links{
    height: 100%;
    width:25%;
    min-width:100px;
    position: relative;
    right:2%
}
.header-links-ele{
    height: 100%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    display:inline-block;
    padding: 8%;
    padding-top: 8%;
    position: relative;
}

#resc ul{
    display: none;
}

#resc:hover ul{
    display: block;
    position: absolute;
    list-style-type: none;
    top:100%;
    left: 0;
    z-index: 1000;
    background-color: #1F2937;
    color: white;
    text-align: center;
}
#resc li{
    padding: 1vw;
}

#resc li:hover{
    border-bottom: 1px solid white;
}

.header-links-ele:hover{
    border-bottom: 2px solid white;
    cursor:pointer;
}
#subject{
    color: white;
    background-color: #007acc;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 0px;
}

.unit {
    border: solid;
    border-color: #007acc;
  padding: 20px;
  border-width: 2px;
  margin-bottom: 20px;
  border-left: 6px solid #007acc;
  border-radius: 10px;
}

.unit h2 {
  color: #007acc;
  margin-bottom: 0px;
}

.unit p {
    margin-top: 0px;
  margin-bottom: 20px;
}

.lecture-list {
  list-style: none;
  padding-left: 0px;
}

.lecture-list li {
  margin-bottom: 10px;
}

.lecture-list a {
  text-decoration: none;
    color: #444;
  padding: 10px;
  display: block;
  background-color: #e9f4ff;
  border-radius: 5px;
}
.lecture-list a:hover {
  background-color: #d0eaff;
}